.food-card{
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 8px rgb(0, 0, 0);
}

.food-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.adder{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 6px;
    font-weight: bold;
    width: 100px;
    margin-top: 0.4rem;
}

.adder > div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.adder-1{
    border-right: 2px solid black;
    cursor: pointer;
}

.adder-3{
    border-left: 2px solid black;
    cursor: pointer;
}