.order-card {
    border: 2px solid white;
    border-radius: 5px;
    margin: 0.2em 0;
    padding: 0.2em;
}

.upper-half {
    display: flex;
    flex-direction: column;
}

.lower-half {
    display: flex;
    flex-direction: column;
}

.status-and-name,
.phone-and-length {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.order-shop-title {
    font-weight: bold;
    font-family: cursive;
}

.expand-button {
    width: 30%;
    padding: 0.5rem;
    margin: 0.5rem auto;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    width: 33.33%;
}

.order-total{
    margin: 0.5em;
    color: gold;
}